extends partials/layout

block content
    div.loader
        div.spinner
            div.double-bounce1
            div.double-bounce2

    include pageelements/painelheader
    
    div.main-container
        header.page-header.resume-header(style="padding:150px 0;")
            div.background-image-holder.parallax-background
                img.background-image(alt="background Image", src="images/hero22.jpg")

            div.container
                div.row
                    div.col-sm-12
                        h1.text-white.space-bottom-medium Painel Bonsaits
                        span Quanto mais sites, melhor!
                        

        div.text-banner
            div.container
                div.row
                    div.col-sm-12
                        br
                        h2 Olá #{user.name.first}
                        br
                        if(user.status == 'admin')
                            a.btn.btn-filled.btn-primary(href="/contatos", style="float: right;") Contatos
                        br
                        br
                        br
                        if(user.status == 'admin')
                            table.table.table-striped
                                thead
                                    tr
                                        th Nome
                                        th Email
                                        th Data
                                        th Status
                                tbody
                                    for orcs in orc
                                        tr
                                            td: a(href="/orcamentos/#{orcs.id}") #{orcs.nome}
                                            td #{orcs.email}
                                            td #{orcs.date}
                                            td #{orcs.status}

                br 
                br 

    include pageelements/footer	
